/* #region GLOBAL SETINGS */

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    min-width: 367px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 736px) {
    .container {
    min-width: 736px;
    }
}

@media screen and (min-width: 1168px) {
    .container {
        min-width: 1168px;
    }
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

address {
    font-style: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    padding: 0
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 736px) {
    section {
        padding-top: 80px;
        padding-bottom: 80px;
        }
}

@media screen and (min-width: 1168px) {
    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

input {
    font-family: inherit;
    color: currentColor;
}

button {
    color: currentColor;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.orange {
    color: #fd9222;
}

/* #endregion */

/* #region HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;

    justify-content: space-between;
        /* Розподіляє простір між елементами */
        align-items: center;
        /* Вирівнює по вертикалі */
        width: 100%;
        /* Контейнер займає всю ширину батьківського елемента */
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    flex: 1;
        /* Навігація розтягується, займаючи доступний простір */
        
}

.logo {
    display: inline-flex;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111;
    padding: 20px 0 19px 0;

    flex-shrink: 0;
}

@media screen and (min-width: 736px) {
    .logo {
    padding: 31px 0;
    }
    
}

@media screen and (min-width: 1168px) {
    .logo {
        padding: 30px 0;
        font-size: 18px;
        line-height: 1.11;
    }

}

.logo-italic {
    font-style: italic;
    margin-right: 4px;
}

.header-icon-chocolate {
    fill: #fff;
    stroke: #FD9222;
    margin-left: 4px;
}
.header-mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 20px 0;
}

.header-mobile-menu-btn-icon {
    stroke: #111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-btn-icon:hover,
.header-mobile-menu-btn-icon:focus {
    stroke: #fd9222;
}

.header-list {
    display: none;
}

@media screen and (min-width: 736px) {
    .header-list {
        display: flex;
        gap: 24px;
        padding: 32px 0;
        }

                .header-mobile-menu-btn {
                    display: none;
                }

    .header-list-item-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    .header-list-item-link:hover,
    .header-list-item-link:focus {
        color: #FD9222;
        }
}

.header-icons-list {
    display: none;
}

@media screen and (min-width: 736px) {
    .header-icons-list {
            display: flex;
            gap: 18px;
            margin-left: 48px;
        }

        .header-icons-list-link {
            display: block;
            padding: 28px 0;
        }

                .header-icons {
                    fill: #fff;
                    stroke: #111111;
                    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .header-icons:hover,
                .header-icons:focus {
                    stroke: #fd9222;
                }
}

@media screen and (min-width: 1168px) {
    .header-icons-list {
        margin-left: 90px;
    }
}

/* #endregion */

/* #region MOBILE MENU */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #1e1823;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.mobile-menu-btn-icon {
    stroke: #fff;
}

.mobile-menu-list {
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-list-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.mobile-menu-list-item-link {
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list-item-link.orange {
    color: #fd9222;
}

.mobile-menu-list-item-link:hover,
.mobile-menu-list-item-link:focus {
    color: #fd9222;
}

.mobile-menu-icons-list {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 18px;
}

.mobile-menu-icons-list-item {}

.mobile-menu-icons-list-link {}

.mobile-menu-icons {
    fill: transparent;
    stroke: #fff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icons:hover,
.mobile-menu-icons:focus {
    stroke: #fd9222;
}

/* #endregion */