/* #region GLOBAL SETINGS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    min-width: 367px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 736px) {
    .container {
    min-width: 736px;
    }
}

@media screen and (min-width: 1168px) {
    .container {
        min-width: 1136px;
    }
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

address {
    font-style: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    padding: 0
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 736px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
        }
}

@media screen and (min-width: 1168px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

input {
    font-family: inherit;
    color: currentColor;
}

button {
    color: currentColor;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.orange {
    color: #fd9222;
}

/* #endregion */

/* #region HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    flex: 1;
}

.logo {
    display: inline-flex;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111;
    padding: 20px 0 19px 0;

    flex-shrink: 0;
}

@media screen and (min-width: 736px) {
    .logo {
    padding: 31px 0;
    }
    
}

@media screen and (min-width: 1168px) {
    .logo {
        padding: 30px 0;
        font-size: 18px;
        line-height: 1.11;
    }

}

.logo-italic {
    font-style: italic;
    margin-right: 4px;
}

.header-icon-chocolate {
    fill: #fff;
    stroke: #FD9222;
    margin-left: 4px;
}
.header-mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 20px 0;
}

.header-mobile-menu-btn-icon {
    stroke: #111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-btn-icon:hover,
.header-mobile-menu-btn-icon:focus {
    stroke: #fd9222;
}

.header-list {
    display: none;
}

@media screen and (min-width: 736px) {
    .header-list {
        display: flex;
        gap: 24px;
        padding: 32px 0;
        }

                .header-mobile-menu-btn {
                    display: none;
                }

    .header-list-item-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    .header-list-item-link:hover,
    .header-list-item-link:focus {
        color: #FD9222;
        }
}

.header-icons-list {
    display: none;
}

@media screen and (min-width: 736px) {
    .header-icons-list {
            display: flex;
            gap: 18px;
            margin-left: 48px;
        }

        .header-icons-list-link {
            display: block;
            padding: 28px 0;
        }

                .header-icons {
                    fill: #fff;
                    stroke: #111111;
                    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .header-icons:hover,
                .header-icons:focus {
                    stroke: #fd9222;
                }
}

@media screen and (min-width: 1168px) {
    .header-icons-list {
        margin-left: 90px;
    }
}

/* #endregion */

/* #region MOBILE MENU */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #1e1823;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.mobile-menu-btn-icon {
    stroke: #fff;
}

.mobile-menu-list {
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-list-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.mobile-menu-list-item-link {
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list-item-link.orange {
    color: #fd9222;
}

.mobile-menu-list-item-link:hover,
.mobile-menu-list-item-link:focus {
    color: #fd9222;
}

.mobile-menu-icons-list {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 18px;
}

.mobile-menu-icons {
    fill: transparent;
    stroke: #fff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icons:hover,
.mobile-menu-icons:focus {
    stroke: #fd9222;
}

/* #endregion */

/* #region ========== MOBILE ========== */

/* #region Mobile Start Page */

    .start-page {
            max-width: 735px;
            min-height: 620px;
            background-color: #1e1823;
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-bg-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 30px;
            padding: 0;
            margin: auto;
        }

@media screen and (max-width: 735px) and (min-resolution: 192dpi) {
    .start-page {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-bg-mobile-2x.jpg);
    }
}

.start-page-container {
    padding: 0 40px 20px 40px;
}

.start-page-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 299px;
    padding-top: 395px;
    margin-bottom: 32px;
}

.start-page-button-container {
    max-width: 299px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 32px;
}

.start-page-button {
    border-radius: 100px;
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    border: none;
    background-color: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-page-button:hover,
.start-page-button:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.start-page-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #fff;
    border-radius: 100px;
    width: 159px;
    height: 41px;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-page-link:hover,
.start-page-link:focus {
    color: #fd9222;
    background-color: #fff;
}

.start-page-link-scroll {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-page-link-scroll:hover,
.start-page-link-scroll:focus {
    color: #fd9222;
}

.link-scroll-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fafafa;
    fill: #fd9222;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-scroll-bg:hover,
.link-scroll-bg:focus {
    background-color: #fd9222;
}

.start-page-link-scroll:hover .link-scroll-bg,
.start-page-link-scroll:focus .link-scroll-bg {
    background-color: #fd9222;
    fill: #ffffff;
}

.start-page-link-scroll:hover .link-scroll-icon,
.start-page-link-scroll:focus .link-scroll-icon {
    fill: #ffffff;
}

.link-scroll-icon {
    fill: #fd9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-scroll-icon:hover,
.link-scroll-icon:focus {
    fill: #fff;
}

/* #endregion */

/* #region Mobile Benefits */

.benefits {
    background-color: #1e1823;
    margin-top: 60px;
    padding: 0;
}

.container-benefits {
    padding: 20px;

    max-width: 375px;
    height: 792px;
    display: flex;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefits-list-item {
    flex-basis: calc((100% - 20px) / 1);
    max-width: 336px;
    min-height: 244px;
}

.container-benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: #fd9222;
}

.benefits-list-item-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-list-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    max-width: 308px;
}

/* #endregion Mobile Benefits*/

/* #region Mobile Ingredients */

.container-ingregients {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 335px;
    min-height: 1376px;
}

.container-ingregients-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    max-width: 335px;
    min-height: 204px;
}

.ingredients-title {
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 283px;
}

.ingredients-title-taste {
    color: #fd9222;
}

.ingredients-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 335px;
    margin-bottom: 32px;
}

.ingredients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.ingredients-list-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.ingredients-list-item:nth-child(1) {
    border: 1px solid #FD9222;
    background-color: #FD9222;
    border-radius: 15px;
    fill: none;
    width: 335px;
    height: 270px;
}

.ingredients-list-item:nth-child(2) {
    border: 1px solid #FD9222;
    background-color: #fff;
    border-radius: 15px;
    width: 335px;
    height: 270px;
}

.ingredients-list-item:nth-child(3) {
    border: 1px solid #1e1823;
    background-color: #1e1823;
    border-radius: 15px;
    width: 335px;
    height: 270px;
}

.ingredients-list-item:nth-child(4) {
    border: 1px solid #FD9222;
    background-color: #fff;
    border-radius: 15px;
    width: 335px;
    height: 270px;
}

.container-ingredients-list-item img {
    margin: auto;
    margin-top: 28px;
}

.ingredients-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 28px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-list-item:hover .ingredients-overlay {
    transform: translateY(0);
}

.ingredients-overlay-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 8px;
}

.container-ingredients-btn {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
    max-width: 180px;
    min-height: 24px;
}

.ingredients-overlay-btn-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    padding: 6px 16px;
    min-width: 81px;
    height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    background-color: #fd9222;
    white-space: nowrap;
    border: none;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-overlay-btn-orange:hover,
.ingredients-overlay-btn-orange:focus {
    background-color: #fff;
    color: #fd9222;
    border: 1px solid #fd9222;
}

.ingredients-overlay-btn-white {
    border: 1px solid #fd9222;
    border-radius: 35px;
    width: 93px;
    height: 24px;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #111;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-overlay-btn-white:hover {
    background-color: #fd9222;
    color: #fafafa;
}

.ingredients-overlay-text {
    max-width: 279px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}

.ingredients-list-item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    margin-top: 28px;
    margin-left: 25px;
}

.ingredients-title-white {
    color: #fff;
}

/* #endregion Mobile Ingredients */

/* #region Mobile Made */



/* #region Mobile Made */

/* #endregion ========== MOBILE ==========*/

/* #region ========== TABLET ========== */

/* #region Tablet Start Page */

@media screen and (min-width: 736px) {
    .start-page {
        max-width: 768px;
        min-height: 890px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-bg-tablet.jpg);
    }

    .start-page-container {
        padding: 0 72px 40px 72px;
    }
        
    .start-page-title {
        font-size: 28px;
        line-height: 1.21;
        max-width: 484px;
        padding-top: 671px;
    }

    .start-page-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 624px;
        max-height: 45px;
    }

    .button-container {
        margin-bottom: 0;
    }

    .start-page-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 144px;
        height: 45px;
    }

    .start-page-link {
        width: 183px;
        height: 45px;
    }

    .start-page-link-scroll {
        gap: 14px;
        font-size: 14px;
        line-height: 1.29;
    }

    .link-scroll-bg {
        width: 38px;
        height: 38px;
    }
}

@media screen and (min-width: 736px) and (min-resolution: 192dpi) {
    .start-page {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-bg-tablet-2x.jpg);
    }
}

/* #endregion */

/* #region Tablet Benefits */

@media screen and (min-width: 736px) {
    .benefits {
        margin-top: 40px;
    }
    
    .container-benefits {
        padding: 50px 32px;
        max-width: 768px;
        height: 620px;
    }

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 64px) / 2);
    }
}

/* #endregion Tablet Benefits*/

/* #region Tablet Ingredients */

@media screen and (min-width: 736px) {
    .container-ingregients {
        align-items: start;
        max-width: 704px;
        min-height: 778px;
    }
    
    .container-ingregients-title {
        gap: 28px;
        max-width: 486px;
        min-height: 156px;
        margin: 0 auto;
    }

    .ingredients-title {
        font-size: 24px;
        line-height: 1.17;
        max-width: 411px;
    }

    .ingredients-text {
        max-width: 486px;
        margin-bottom: 50px;
    }

    .ingredients-list {
        justify-content: center;
        align-items: start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .ingredients-list-item {
        flex-basis: calc((100% - 32px) / 2);
    }

    .ingredients-list-item:nth-child(1) {
        width: 336px;
    }

    .ingredients-list-item:nth-child(2) {
        width: 336px;
    }

    .ingredients-list-item:nth-child(3) {
        width: 336px;
    }
    
    .ingredients-list-item:nth-child(4) {
        width: 336px;
    }

    .ingredients-overlay-text {
        max-width: 280px;
    }
}

/* #endregion Tablet Ingredients */

/* #region Tablet Made */



/* #endregion Tablet Made */

/* #endregion ========== TABLET ==========*/

/* #region ========== DESKTOP ========== */

/* #region Desktop Start Page */

@media screen and (min-width: 1168px) {
    .start-page {
        min-width: 1168px;
        min-height: 600px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/start-page-bg.jpg);
    }

    .start-page-container {
        width: 1200px;
    }

    .start-page-title {
        padding-top: 381px;
    }

    .start-page-button-container {
        max-width: 1056px;
    }
}

@media screen and (min-width: 1168px) and (min-resolution: 192dpi) {
    .start-page {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-bg-desktop-2x.jpg);
    }
}

/* #endregion Desktop Start Page*/

/* #region Desktop Benefits */

@media screen and (min-width: 1168px) {
    .benefits {
        margin-top: 72px;
    }
    
    .container-benefits {
        padding: 50px;
        max-width: 1200px;
        height: 344px;
    }

    .benefits-list {
        justify-content: space-between;
        gap: 70px;
        flex-wrap: nowrap;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 140px) / 3);
        max-width: 308px;
        position: relative;
    }
    
    .benefits-list-item::after {
        position: absolute;
        content: '';
        top: 60px;
        left: -70px;
        transform: translateX(-50%);
    
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        height: 124px;
        width: 0px;
        margin-left: 18px;
    
    }
    
    .benefits-list-item:nth-child(1)::after {
        display: none;
    }
}

/* #endregion Desktop Benefits */

/* #region Desktop Ingredients */

@media screen and (min-width: 1168px) {
    .container-ingregients {
        max-width: 1136px;
        min-height: 476px;
    }

    .ingredients-list {
        gap: 19px;
        flex-wrap: nowrap;
    }

    .ingredients-list-item:nth-child(1) {
        width: 270px;
    }

    .ingredients-list-item:nth-child(2) {
        width: 270px;
    }

    .ingredients-list-item:nth-child(3) {
        width: 270px;
    }
    
    .ingredients-list-item:nth-child(4) {
        width: 270px;
    }

    .ingredients-overlay {
        padding: 20px;
    }

    .ingredients-overlay-text {
        max-width: 230px;
    }

    .ingredients-list-item-title {
        margin-top: 36px;
        margin-left: 32px;
    }
}

/* #endregion Desktop Ingredients */

/* #region Desktop Ingredients */



/* #endregion Desktop Ingredients */

/* #endregion ========== DESKTOP ==========*/